---
interface Props {
  classNames?: string;
  href: string;
}
const { classNames, href } = Astro.props;
---

<a href={href} class="border border-border/30 rounded-full group inline-block">
  <span
    class={`${classNames} py-3.5 mx-1.5 my-1.25 group-hover:m-0 group-hover:py-4.75 group-hover:px-7.5 transition-all duration-300 rounded-full`}
  >
    <slot />
  </span>
</a>
