---
interface Props {
  class_container?: string;
}
const { class_container } = Astro.props;
---

<div class="main-container">
  <div class={`container ${class_container ?? ""}`}>
    <slot />
  </div>
</div>
