/* section style */
.section {
  @apply py-24 xl:py-28;
}

.section-sm {
  @apply py-16 xl:py-20;
}

/* container */
.main-container {
  @apply border-b border-border/6;
}
.main-container > .container {
  @apply border-x border-border/6;
}
.container {
  @apply mx-auto xl:max-w-325! px-4;
}
.container-padding-y {
  @apply py-24 xl:py-28;
}

.container-padding-x {
  @apply sm:px-8;
}

/* social icons */
.social-icons {
  @apply space-x-5;
}
.social-icons li {
  @apply inline-block;
}

.social-icons li a svg {
  @apply h-6 w-6 hover:text-primary  transition-colors duration-200;
}

/* notice */
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
}

.notice-head {
  @apply flex items-center;
}

.notice-head svg {
  @apply mr-3;
}

.notice-head p {
  @apply text-xl font-semibold text-text;
}

.notice-body {
  @apply mt-3;
}

.notice-body p {
  @apply my-0;
}

.notice.note {
  @apply text-[#1B83E2];
  @apply border-current;
}

.notice.tip {
  @apply text-[#40D294];
  @apply border-current;
}

.notice.info {
  @apply text-[#E3A72C];
  @apply border-current;
}

.notice.warning {
  @apply text-[#DB2C23];
  @apply border-current;
}

/* tab */
.tab {
  @apply overflow-hidden rounded-lg border border-border/20;
}

.tab-nav {
  @apply flex border-b border-border/20 bg-white/8 m-0! list-none!;
}

.tab-nav-item {
  @apply cursor-pointer border-b-[3px] border-transparent py-2 text-lg text-text opacity-80 my-0! px-8!;
}

.tab-nav-item.active {
  @apply border-b-[3px] border-primary opacity-100;
}

.tab-content {
  @apply px-5;
}

.tab-content-panel {
  @apply p-8;
}

.tab-content-panel p {
  @apply mb-0;
}

.tab-content-panel.active {
  @apply block;
}

/* accordion */
.accordion {
  @apply mb-6 overflow-hidden rounded-lg border border-border/20 bg-dark;
}

.accordion-header {
  @apply flex w-full cursor-pointer items-center justify-between px-8 py-4 text-lg text-text;
}

.accordion-icon {
  @apply h-[.8em] w-[.8em] -rotate-90 transition-transform duration-200;
}

.accordion-content {
  @apply max-h-0 overflow-hidden px-8 py-0;
}

.accordion.active .accordion-icon {
  @apply rotate-0;
}

.accordion.active .accordion-content {
  @apply max-h-screen;
}

/* modal */
.modal {
  @apply fixed inset-0 z-40 hidden h-full w-full overflow-auto;
}

.modal-overlay {
  @apply fixed inset-0 z-40 hidden h-full w-full bg-black/40;
}

.modal-content {
  @apply relative top-1/2 z-50 mx-auto max-w-[90%] -translate-y-1/2 rounded-lg bg-body p-8;
}

.modal-close {
  @apply absolute right-3 top-3 h-8 w-8 rounded-full bg-light text-center leading-8 text-text;
}

/* content style */
.content {
  @apply [&>*:first-child]:mt-0 [&>*:first-child]:pt-0;
  @apply prose max-w-none;
  @apply prose-headings:mb-[.3em] prose-headings:mt-[.6em] prose-headings:text-text;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-p:text-base text-gray;
  @apply prose-a:text-text prose-a:[&.btn]:no-underline;
  @apply prose-img:max-w-full prose-img:rounded-lg;
  @apply prose-strong:text-text;
  @apply prose-hr:border-border;
  @apply prose-pre:rounded-lg prose-pre:bg-dark;
  @apply prose-li:text-text prose-ul:marker:text-primary! ;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-10 prose-blockquote:border-primary prose-blockquote:bg-card prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-text;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:border-border/20 prose-table:before:content-[""];
  @apply prose-thead:border-border/20 prose-thead:bg-white/8;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4! prose-th:py-4.5! prose-th:text-text;
  @apply prose-tr:border-border/20;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3! prose-td:py-4.5!;
}

/* hero text */
.hero-text {
  @apply text-4xl md:text-5xl lg:text-6xl font-semibold mb-4;
}
.hero-text > mark {
  @apply gradient-text-hero;
}
/* footer-title */
.footer-title {
  @apply uppercase text-[16vw] sm:text-[100px] md:text-[150px] lg:text-[200px] xl:text-[250px] whitespace-nowrap overflow-hidden text-center;
  background: linear-gradient(
    0deg,
    #0e0912 23.53%,
    rgba(255, 255, 255, 0.1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* pricing */

.price-tag.active {
  position: relative;
  opacity: 0;
  animation: text-reveal 0.6s forwards 0.2s;
}

@keyframes text-reveal {
  0% {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}
.price-tag.inactive {
  position: absolute;
  animation: text-hide 0.6s forwards;
}

@keyframes text-hide {
  0% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
    filter: blur(4px);
  }
}

/* integration circle rotation */
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
