@utility bg-gradient {
  @apply bg-linear-to-b from-[rgba(249,249,249,1)] from-[0.53%] to-white to-[83.28%];
}

/* form style */
@utility form-control {
  @apply mb-5;
}

@utility form-input {
  @apply w-full h-14 bg-white/5 px-8 py-4 text-base leading-6 text-text placeholder:text-gray outline-none font-normal border-none rounded-full;
}

@utility form-label {
  @apply mb-4 block  text-xl font-normal text-text-dark;
}

@utility bg-gradient-primary {
  background: linear-gradient(
    180deg,
    var(--color-secondary) 0%,
    var(--color-primary) 100%
  );
}
@utility bg-gradient-secondary {
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}
@utility bg-gradient-button {
  background: linear-gradient(
    90deg,
    var(--color-primary) 25%,
    var(--color-secondary) 100%
  );
}

@utility bg-gradient-dark {
  background: linear-gradient(180deg, #0e0912 0%, #22162b 100%);
}

@utility bg-gradient-black-grid {
  background: linear-gradient(
    180deg,
    var(--color-dark) 50%,
    var(--color-dark-gray) 100%
  );
}

@utility gradient-text-hero {
  background: linear-gradient(
    270deg,
    var(--color-light) 2.46%,
    #bc88ff 50.39%,
    var(--color-light) 98.32%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@utility gradient-text-primary {
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@utility bg-radial-purple-dark {
  background: radial-gradient(
    163.24% 100% at 50% 100%,
    rgba(232, 124, 255, 0.3) 0%,
    rgba(25, 20, 29, 0.3) 42.49%
  );
}

@utility bg-linear-white-gradient {
  background: linear-gradient(
    158.39deg,
    rgba(255, 255, 255, 0.1) 14.19%,
    rgba(255, 255, 255, 2.5e-5) 50.59%,
    rgba(255, 255, 255, 2.5e-5) 68.79%,
    rgba(255, 255, 255, 0.025) 105.18%
  );
}
